body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-colour: black;
    margin: 0px;
}

/*game-client.html stuff*/
#main-div {
    margin: 0px;
}

#map-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    border: solid 2px var(--accent-colour);
    font-size: 1.1em;
    padding: 8px;

    transition: all 0.2s ease;
}

button:hover {
    border: solid 4px var(--accent-colour);
    padding: 6px;
}