body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --solid-red: rgb(200,25,25);
    --accent-colour: rgba(0,0,0,0.5);
    --accent-red: rgba(200,25,25,0.5);
    --accent-white: rgba(255,255,255,0.5);
    --background-colour: rgba(255,255,255,0.2);
    --background-colour-grey: rgba(127,127,127,0.2);
    margin: 0px;
}

div {
    margin: 0px;
}

p {
    margin: 0px;
}

button {
    background-color: transparent;
    border: solid 2px var(--accent-colour);
    font-size: 1.0em;
    padding: 8px;
    overflow: hidden;
    outline: none;

    transition: all 0.2s ease;
}

button:hover, button:focus {
    background-color: var(--background-colour);
    border: solid 4px var(--accent-colour);
    padding: 6px;
}

input {
    background-color: transparent;
    border: solid 2px var(--accent-colour);
    font-size: 1.0em;
    padding: 8px;
    outline: none;

    transition: all 0.2s ease;
}

input:focus {
    background-color: var(--background-colour);
}

select {
    background-color: transparent;
    padding: 8px;
    font-size: 1.0em;
    transition: all 0.2s ease;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-colour); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--background-colour-grey); 
    transition: all 0.2s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-colour); 
  }

/*main-menu.html and start-config.html stuff*/
#menu-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-colour);
    backdrop-filter: blur(16px);
    width: 70%;
    padding: 16px;
    border: solid 8px var(--accent-colour);
}

/*game-client.html stuff*/
#err-div {
    position: absolute;
    overflow: hidden;
    z-index: 100;
}

#main-div {
    margin: 0px;
}

#map-div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*game-gui.js elements*/
#main-gui-background-div {
    position: absolute;
    background-color: var(--background-colour);
    width: 30%;
    height: 100%;
    max-width: 100%;
    resize: horizontal !important;
    z-index: 19;
    overflow: hidden;
}

#main-gui-div {
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(4px);
    width: calc(100% - 10px);
    height: 100%;
    left: 0px;
    z-index: 20;
    overflow: hidden;
}

#chat-div {
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0px;
}

#chat-lines-div {
    position: absolute;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-msg-div {
    position: relative;
    width: 100%;
    font-size: 0.8em;
    padding: 4px;
}

.chat-msg-div:nth-child(even) {
    background-color: var(--background-colour);
}

.chat-msg-div:nth-child(odd) {
    background-color: var(--background-colour-grey);
}

.chat-msg-div > p:nth-child(odd) { /*Quick hacky way to get the top line, the sender*/
    font-weight: bold;
}

#chat-input {
    position: absolute;
    height: 20% !important;
    width: 70% !important;
    bottom: 0px;
    left: 0px;
}

#chat-enter-btn {
    position: absolute;
    height: 20% !important;
    width: 30% !important;
    bottom: 0px;
    right: 0px;
}

#waypoint-info-div {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 33%;
    top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 4px;
    border-bottom: 2px solid var(--accent-white);
}

#waypoint-info-div > p {
    font-weight: bold;
    font-size: 1.2em;
    word-wrap: break-word;
}
